# fly.toml app configuration file generated for hasene-backend on 2025-12-09T21:00:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "hasene-backend"
primary_region = "fra"

[build]

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

